<!--------------------------------------- Form to print pdf --------------------------------------->

<div class="container">
  <div id="capture" class="row" style="display: none;">
    <h4 class="text-center col-md-8">{{fullName}}</h4>
    <h4 class="text-center col-md-8">{{datetime | date:'dd/MM/yyyy'}}</h4>
    <h4 class="text col-md-8">Giá điện: {{displayElectricTotal}} VND</h4>
    <h4 class="text col-md-8">Giá nước: {{displayWaterTotal}} VND</h4>
    <h4 class="text col-md-8">Giá phòng: {{displayRoomPrice}} VND</h4>
    <h4 class="text col-md-8">Tổng: {{displayElectricTotal}} + {{displayWaterTotal}} + {{displayRoomPrice}} = {{totalPrice}}</h4>
    <h4 class="text col-md-8">Ghi chú: </h4>
    <textarea class="text col-md-8" style="color: black; font-weight: normal; font-size: 24px;border: 0px;">{{description}}</textarea>
  </div>
  <button id="btnPrintPDF" (click)="printPDF()" class="btn btn-primary">Print PDF</button>
</div>


<div class="container" id="formRentRoom">
  <div class="col-md-12">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Tên</label>
        <input [ngModel]="fullName" (ngModelChange)="getName($event)" name="fullName" type="text" class="form-control"
          id="fullName" placeholder="Nhập họ tên">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Ngày tháng năm</label>
        <input [ngModel]="datetime" (ngModelChange)="getDate($event)" name="datetime" type="date" class="form-control" id="datetime"
          placeholder="Nhập họ tên">
      </div>
    </div>
  </div>
  <div class="form-group col-md-12">
    
    <div class="row">
      <div class="col-md-2">
        <label for="inputEmail4">Điện tháng trước</label>
        <input [ngModel]="preElectric" (ngModelChange)="changePreElectricPrice($event)" name="preElectric" type="text" pattern="[A-Za-z]"
          class="form-control" id="preElectric" placeholder="Nhập điện">
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">-</label>
      </div>
      <div class="col-md-2">
        <label for="inputEmail4">Điện tháng này</label>
        <input [ngModel]="electric" (ngModelChange)="changeElectricPrice($event)" name="electric" type="text" pattern="[A-Za-z]"
          class="form-control" id="electric" placeholder="Nhập điện">
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">{{electricResult}}</label>
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">X</label>
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <input [ngModel]="electricAmount" (ngModelChange)="changeElectricAmount($event)" name="electricAmount"
          class="form-control" type="number" value="electricAmount" step="0.1">
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">=</label>
      </div>
      <div class="col-md-2">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">{{displayElectricTotal}} VND</label>
      </div>
    </div>
    <div>
      <label id="electricPriceErrorMessage" class="text form-control remove-border-form" style="display: none; color: red;">Xin hãy nhập số và số lớn hơn 0</label>
    </div>
  </div>
  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-md-2">
        <label for="inputEmail4">Nước tháng trước</label>
        <input [ngModel]="preWater" (ngModelChange)="changePreWaterPrice($event)" name="preWater" type="text"
          class="form-control" id="preWater" placeholder="Nhập nước">
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">-</label>
      </div>
      <div class="col-md-2">
        <label for="inputEmail4">Nước tháng này</label>
        <input [ngModel]="water" (ngModelChange)="changeWaterPrice($event)" name="water" type="text"
          class="form-control" id="water" placeholder="Nhập nước">
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">{{waterResult}}</label>
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">X</label>
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <input [ngModel]="waterAmount" (ngModelChange)="changeWaterAmount($event)" name="waterAmount"
          class="form-control" type="number" value="waterAmount" step="0.1">
      </div>
      <div class="col-md-1">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">=</label>
      </div>
      <div class="col-md-2">
        <div class="col-md-1">
          <label style="visibility: hidden;">...</label>
        </div>
        <label class="text-center form-control remove-border-form">{{displayWaterTotal}} VND</label>
      </div>
    </div>
    <div>
      <label id="waterPriceErrorMessage" class="text form-control remove-border-form" style="display: none; color: red;">Xin hãy nhập số và số lớn hơn 0</label>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputEmail4">Tiền nhà trọ</label>
    <input [ngModel]="roomPrice" (ngModelChange)="changeRoomPrice($event)" name="roomPrice" type="text"
      class="form-control" id="roomPrice" placeholder="Nhập tiền phòng" value="{{displayRoomPrice}}">
      <div>
        <label id="roomPriceErrorMessage" class="text form-control remove-border-form" style="display: none; color: red;">Xin hãy nhập số và số lớn hơn 0</label>
      </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputEmail4">Tổng</label><br>
    <label class="form-control remove-border-form" for="inputEmail4">{{totalPrice}}</label>
  </div>
  <div class="form-group col-md-12">
    <label for="inputEmail4">Ghi chú thêm</label>
    <textarea [ngModel]="description" (ngModelChange)="getDescription($event)" name="description" id="description" class="form-control" id="note" placeholder="Nhập ghi chú" rows="2"></textarea>
  </div>
</div>